torch
ipdb
ipython
pydantic
transformers
numpy
sentencepiece
protobuf==3.20
accelerate
bert-score
einops
git+https://github.com/google-research/bleurt.git
fire
openai
petals
wandb
fastapi
uvicorn[standard]
kthread
cachetools
