[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
fastapi = "*"
kthread = "*"
lxml = "*"
motor = "*"
numpy = "*"
openai = "*"
pandas = "*"
praw = "*"
pyhumps = "*"
python-dotenv = "*"
sentence-transformers = "*"
spacy = "*"
tenacity = "*"
umap-learn = "*"
unidecode = "*"
uvicorn = "*"
hdbscan = {git = "https://github.com/dominik-schwabe/hdbscan"}
tiktoken = "*"

[dev-packages]
ipython = "*"
ipdb = "*"

[requires]
python_version = "3.10"
